<div class="jumbotron text-center background-big-jumbotron">
  <h2 class="display-4">Bienvenue sur Eventbrite!</h2>
  <p class="lead">Ce site vous permet de trouver les évènements qui ont lieu autour de chez vous ou ailleurs!</p>
  <hr class="my-4">
  <p>Vous pouvez aussi créer votre propre évènement:</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="<%= new_event_path %>" role="button">Créer un évènement</a>
  </p>
</div>